---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting'
const pageTitle = 'Home'
---

<BaseLayout pageTitle={pageTitle}>
		<h2>My dope subtitle</h2>
		<Greeting client:load messages={['Hello', 'Hi', 'Hey', 'Howdy', 'Yeehaw']} />
</BaseLayout>
